body {
    background-image: url('fotos/rosinha.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1300px;
    width: auto;
}


/* Estilo do alerta flutuante */
#alerta {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #fa63cc;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    z-index: 1000;
}

/* Link dentro do alerta */
#alerta a {
    color: #ffffff;
    text-decoration: underline;
    margin-left: 8px;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.troco-container {
    display: none;
    margin-top: 10px;
}

input[type="number"], input[type="text"] {
    padding: 5px;
    width: 150px;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="submit"] {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


