body{
  position: relative;
  background: #ff99b8;

}
.cadastro-container {
  position:absolute;
  color: #ffe6f0;      /* rosa claro */
  width: 1570px;        /* largura maior */
  margin-top: 100px;
  margin-left: 30px;
  padding: 20px;       /* espaço interno maior */
  text-align: center;  /* texto centralizado */
  font-size: xx-large;
}

.ledoux-container {
  color:#ffe6f0;
  position:absolute;
  width: 1550px;
  margin-top: 170px;
  margin-left: 30px;
  padding: 30px;    
  text-align: center; 
  font-size: larger;
}

.botaocadastrar-container {
  color: #ffe6f0;
  position: absolute;
  width: 1590px;
  margin-top: 250px;
  margin-left: 40px;
  text-align: center; 
  font-size: large;
}
.botaoform-container {
  color: #ffe6f0;
  position: absolute;
  width: 1569px;
  margin-top: 270px;
  margin-left: 50px;
  text-align: center; 
  font-size: large;
}

a{
  text-decoration: none;
  color: #ffe6f0
  
}
#pai{
  width: 100px;
  height: 100px;
  display: block;
  justify-content: center;
  align-items: center;
}
#pai2{
  width: 100px;
  height: 100px;
  display: block;
  justify-content: center;
  align-items: center;
}

/* ============================================================
   TÍTULO DO CARRINHO (estilo premium)
============================================================ */
#carrinho_titulo {
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    color: #7a2e2e;
    letter-spacing: 3px;
    position: relative;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

/* linha dourada abaixo */
#carrinho_titulo::after {
    content: "";
    width: 150px;
}

